@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="col-1">
    </div>
<div class="row">
    <div class="col circle-col">
        @{
            var KmDataRun = new Shared._ProgressCirclePartialModel
            {
                BackgroundStroke = "#D9EFF6",
                ForegroundStroke = "#3EAED5",
                PercentProgress = 10, //@Model.PercentProgressSteps,
                DisplayNumber = 50, //@Model.DisplaySteps,
                Unit = "Km",
                IconUrl = "/Uploads/run-shoe.png"
            };
        }
        <partial name="_ProgressCirclePartial" model=@KmDataRun />
    </div>
</div>
