@page
@model EventTrainer.Pages.Training.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Workout</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>


            <fieldset>
                <legend>Training Details</legend>

                <div class="form-group mb-3">
                    <label asp-for="TrainingDone.ExerciseType" class="control-label"></label>
                    <select asp-for="TrainingDone.ExerciseType"
                            asp-items="Html.GetEnumSelectList<EventTrainer.Models.TrainingDone.TypeOfExercise>()"
                            class="form-control"></select>
                    <span asp-validation-for="TrainingDone.ExerciseType" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="TrainingDone.Date" class="control-label"></label>
                    <input asp-for="TrainingDone.Date" class="form-control" type="date" />
                    <span asp-validation-for="TrainingDone.Date" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="TrainingDone.Distance" class="control-label"></label>
                    <input asp-for="TrainingDone.Distance" class="form-control" type="number" min="0" step="0.01" />
                    <span asp-validation-for="TrainingDone.Distance" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="TrainingDone.TimeTaken" class="control-label"></label>
                    <input asp-for="TrainingDone.TimeTaken" class="form-control" type="text" />
                    <span asp-validation-for="TrainingDone.TimeTaken" class="text-danger"></span>
                </div>
            </fieldset>


            <div class="form-group mt-3">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


