@page
@model EventTrainer.Pages.Plan.EditModel

@{
    ViewData["Title"] = "Edit Plan";
}

<div class="container mt-5">
    <form method="post">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <h1 class="display-4 mb-4">Edit Training Plan</h1>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <fieldset>
                            <!-- Validation Summary -->
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="TrainingToDo.ID" />

                            <div class="mb-3">
                                <label asp-for="TrainingToDo.CycleDistance" class="form-label fw-bold"></label>
                                <input asp-for="TrainingToDo.CycleDistance" class="form-control" />
                                <span asp-validation-for="TrainingToDo.CycleDistance" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="TrainingToDo.CycleTime" class="form-label fw-bold"></label>
                                <input asp-for="TrainingToDo.CycleTime" class="form-control" />
                                <span asp-validation-for="TrainingToDo.CycleTime" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="TrainingToDo.SwimDistance" class="form-label fw-bold"></label>
                                <input asp-for="TrainingToDo.SwimDistance" class="form-control" />
                                <span asp-validation-for="TrainingToDo.SwimDistance" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="TrainingToDo.SwimTime" class="form-label fw-bold"></label>
                                <input asp-for="TrainingToDo.SwimTime" class="form-control" />
                                <span asp-validation-for="TrainingToDo.SwimTime" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="TrainingToDo.RunDistance" class="form-label fw-bold"></label>
                                <input asp-for="TrainingToDo.RunDistance" class="form-control" />
                                <span asp-validation-for="TrainingToDo.RunDistance" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="TrainingToDo.RunTime" class="form-label fw-bold"></label>
                                <input asp-for="TrainingToDo.RunTime" class="form-control" />
                                <span asp-validation-for="TrainingToDo.RunTime" class="text-danger"></span>
                            </div>                          
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="d-flex gap-2 mt-2">
            <button type="submit" class="btn btn-primary me-2">Update</button>
            <a asp-page="Index" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
