@page
@model EventTrainer.Pages.Plan.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TrainingToDo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainingToDo.ID" />
            <div class="form-group">
                <label asp-for="TrainingToDo.CycleDistance" class="control-label"></label>
                <input asp-for="TrainingToDo.CycleDistance" class="form-control" />
                <span asp-validation-for="TrainingToDo.CycleDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingToDo.CycleTime" class="control-label"></label>
                <input asp-for="TrainingToDo.CycleTime" class="form-control" />
                <span asp-validation-for="TrainingToDo.CycleTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingToDo.SwimDistance" class="control-label"></label>
                <input asp-for="TrainingToDo.SwimDistance" class="form-control" />
                <span asp-validation-for="TrainingToDo.SwimDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingToDo.SwimTime" class="control-label"></label>
                <input asp-for="TrainingToDo.SwimTime" class="form-control" />
                <span asp-validation-for="TrainingToDo.SwimTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingToDo.RunDistance" class="control-label"></label>
                <input asp-for="TrainingToDo.RunDistance" class="form-control" />
                <span asp-validation-for="TrainingToDo.RunDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingToDo.RunTime" class="control-label"></label>
                <input asp-for="TrainingToDo.RunTime" class="form-control" />
                <span asp-validation-for="TrainingToDo.RunTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
